
.form-box{
	z-index: 15;
    position: relative;
    /* background: linear-gradient(180deg,  rgb(67, 63, 91) 0%,rgb(48, 15, 68, 1.00) 100%); */
    width: 400px;
    height: 450px;
    /* border: 2px solid #eec10f; */
    border: 0.01px solid #ffffff;
    /* border: 2px solid rgba(163, 43, 43, 0.5); */
    box-shadow: 0 0 30px rgba(black, .1);
    box-sizing: border-box;
    margin: 100px auto 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #878494;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #878494;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #c5c2d3 !important;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-validation-bubble-message: none;
}

input:focus-visible ~ label {
    top: -5px;
}
input:valid ~ label{
    top: -5px;
}
input:focus:invalid ~ label{
    top: -5px;
}

input::selection {
    background-color: #6a6492; /* Цвет фона выделения */
    color: #ffffff; /* Цвет текста выделения */
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #c5c2d3;
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;  
}

.forget label {
    margin-right: 3px;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: none;
}

.forget input[type='checkbox'] {
	display: inline-block;
	width: auto;
	margin: 0 10px 0 0;
	border: 0;
	transition: background-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
	cursor: pointer;
}

.forget a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.forget a:hover{
    text-decoration: underline;
    color: white;
}

.button {
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #eec10f;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.error {
    margin-left: 15px;
    font-size: .9em;
    display: flex;
    justify-content: center;
    flex-direction: 'row';
    align-items: 'center';
    margin-top: -15px;
}

.register {
	margin-left: 15px;
    font-size: .9em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: 'row';
    align-items: 'center';
}
.register p{
    font-size: .9em;
    color: #ffffff;
    margin: 10px 5px;
}
.register a{
    text-decoration: none;
    color: #eec10f;
    font-weight: 600;
    text-transform: uppercase;
}
.register a:hover{
    text-decoration: underline;
    color: white;
}